@use "./variables" as vars;
@use "sass:map";

@mixin font-style($size-key, $spacing-key: default) {
  font-size: map.get(vars.$font-sizes, $size-key);
  line-height: map.get(vars.$line-heights, $size-key);
  letter-spacing: map.get(vars.$letter-spacing, $spacing-key);

  @media (max-width: 1024px) {
    font-size: calc(map.get(vars.$font-sizes, $size-key) * 0.9);
    line-height: calc(map.get(vars.$line-heights, $size-key) * 0.9);
  }

  @media (max-width: 768px) {
    font-size: calc(map.get(vars.$font-sizes, $size-key) * 0.8);
    line-height: calc(map.get(vars.$line-heights, $size-key) * 0.8);
  }

  @media (max-width: 480px) {
    font-size: calc(map.get(vars.$font-sizes, $size-key) * 0.6);
    line-height: calc(map.get(vars.$line-heights, $size-key) * 0.6);
  }
}