@use "./variables" as vars;
@use "./mixins";
@use "sass:map";

.typography {
  &--h1 { @include mixins.font-style(h1); }
  &--h2 { @include mixins.font-style(h2); }
  &--subtitle { @include mixins.font-style(subtitle); }
  &--subtitle2 { @include mixins.font-style(subtitle2); }
  &--body { @include mixins.font-style(body); }
  &--caption { @include mixins.font-style(caption); }

  &--spacing-tight { letter-spacing: map.get(vars.$letter-spacing, tight); }
  &--spacing-small { letter-spacing: map.get(vars.$letter-spacing, small); }
  &--spacing-default { letter-spacing: map.get(vars.$letter-spacing, default); }
}