.modal-window {
  @media (min-width: 480px) and (max-width: 768px) {
    width: 400px;
    height: auto;
    gap: 20px;
    padding: 30px;
    &__form {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    &__label {
      gap: 5px;
    }

    &__error-message {
      font-size: 8px;
    }

  }
  @media (max-width: 480px) {
    width: 300px;
    height: auto;
    gap: 20px;
    padding: 30px;

    &__form {
      gap: 10px;
    }

    &__input, &__message {
      padding: 10px 20px;
      font-size: 9px;
    }
    &__message {
      min-height:100px;
    }
    &__form {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    &__label {
      gap: 5px;
    }

    &__error-message {
      font-size: 9px;
      line-height: 16px;
    }
  }
}