.footer {
  background-color: $blue-gray;
  color: $color-white;

  &__line {
    background-color: $color-white;
    height: 1px;
    opacity: 0.4;
    margin-left: -214px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 64px;
    background-color: $lapis-lazuli;
    padding: 96px 200px 64px 214px;
    margin-right: 96px;
  }

  &__wrapper-info {
    display: flex;
    gap: 100px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__logo {
    display: flex;
    gap: 15px;
  }
  &__title {
    font-weight: 600;
  }

  &__type {
    font-weight: 600;
  }

  &__commun {
    display: flex;
    gap: 16px;
    max-width: 299px;
  }

  &__info-wrapper {
    display: flex;
    gap: 77px;
  }

  &__links-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__links-title {
    font-weight: 600;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__link {
    transition: color 0.3s;
    cursor: pointer;
    color: $color-white;
  }
  &__link:hover {
    color: $blue-gray;
  }

  &__rights {
    background-color: $lapis-lazuli;
    color: $color-white;
    opacity: 0.4;
  }
}